.personal{
  background-color: rgb(98, 98, 243);
  display: flex;
  justify-content: space-between;
  height: 5%;
  
}
.login{
  margin: auto;
  padding: 10px;
  font-size: large;
  color: aliceblue;
}
.text{
  color: aliceblue;
  margin-left: 50px;
}
.morning{
  margin-left: 50px;
}
.blog{
width: 70%;
border: 2px solid rgb(192, 179, 245);
color:black;
border-radius: 10px;
margin-left: 10%;
background-color: antiquewhite;
}
.link{
  margin-left: 10%;
}
.blogtext{
  margin: 20px;
}